/* open-sans-300 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/open-sans-v34-latin_cyrillic-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v34-latin_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v34-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/open-sans-v34-latin_cyrillic-300.woff") format("woff"), url("../fonts/open-sans-v34-latin_cyrillic-300.ttf") format("truetype"), url("../fonts/open-sans-v34-latin_cyrillic-300.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v34-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v34-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v34-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v34-latin_cyrillic-regular.woff") format("woff"), url("../fonts/open-sans-v34-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/open-sans-v34-latin_cyrillic-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* bebas-neue-regular - latin */
@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/bebas-neue-v9-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/bebas-neue-v9-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/bebas-neue-v9-latin-regular.woff2") format("woff2"), url("../fonts/bebas-neue-v9-latin-regular.woff") format("woff"), url("../fonts/bebas-neue-v9-latin-regular.ttf") format("truetype"), url("../fonts/bebas-neue-v9-latin-regular.svg#BebasNeue") format("svg");
  /* Legacy iOS */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper-content {
  background-color: #F2F2F2;
}

.header {
  padding: 41px 0px 71px 0px;
  width: 100%;
  height: 1000px;
  background: url(../images/header__bacground.jpg) no-repeat;
  background-size: cover;
}
.header__inner {
  max-width: 940px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header__title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 5.70937px;
  color: #FFFFFF;
  margin-top: 80px;
}
.header__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.scroll {
  text-decoration: none;
}
.scroll__name {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 3.7px;
  color: #FFFFFF;
}

.sidebar {
  position: relative;
  width: 100%;
  padding: 25px 0px;
}
.sidebar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #E6E6E6;
  left: 0;
  bottom: 0;
}
.sidebar__inner {
  max-width: 971px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
.sidebar__nav-list-item:not(:last-child) {
  margin-right: 40px;
}
.sidebar__list-item-link {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.09091px;
  color: #48555B;
  text-decoration: none;
}
.sidebar__menu-item--js-active {
  color: #00A4E5;
}

.nav__list {
  list-style: none;
  display: flex;
}
.about {
  width: 100%;
  padding: 57px 0px;
}
.about__inner {
  max-width: 971px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.about__title-w {
  width: 100%;
  margin-bottom: 85px;
}
.about__title {
  text-align: center;
  position: relative;
}
.about__title::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #00A4E5;
  right: 50%;
  bottom: -10px;
  transform: translateX(50%);
}
.about__blocks {
  display: flex;
  justify-content: space-between;
}
.about__history {
  max-width: 405px;
  width: 100%;
}
.about__history-title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555B;
}
.about__history-text {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555B;
}
.about__cards {
  display: flex;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2.30625px;
  color: #48555B;
}

.card {
  position: relative;
}
.card:not(:last-child) {
  margin-right: 20px;
}
.card__img {
  position: relative;
  width: 140px;
  height: 222px;
}
.card__description {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1875px;
  color: #FFFFFF;
  position: absolute;
  top: 15px;
  left: 14px;
}

.services {
  width: 100%;
  padding: 57px 0px;
}
.services__inner {
  max-width: 971px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.services__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 78px;
}
.services__title {
  position: relative;
}
.services__title::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #00A4E5;
  left: 0;
  bottom: 0px;
}
.services__text {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #48555B;
  max-width: 405px;
  width: 1005px;
}
.services__button-w {
  padding: 0px 0px 0px 10px;
}
.services__content {
  max-width: inherit;
  width: inherit;
  display: flex;
  justify-content: space-between;
}
.services__description {
  max-width: 295px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  padding: 38px 22px;
}
.services__img {
  margin-bottom: 25px;
}
.services__description-title {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.426667px;
  color: #48555B;
  margin-bottom: 13px;
}
.services__description-text {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555B;
}

.button {
  display: inline-block;
  width: 150px;
  padding: 11px 0px;
  background-color: #00A4E5;
  text-align: center;
  text-decoration: none;
}
.button__name {
  font-family: "Open Sans", sans-serif;
  font-weight: 600px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}/*# sourceMappingURL=styles.css.map */